.classified-author-profile .classified-author-profile-info {
    padding: 40px 20px;
    border-right: 1px solid var(--primary-border-color);
    height: 100%;
}

.classified-author-profile-info .classified-author-avatar {
    border: 1px solid var(--primary-border-color);
    border-radius: 55px;
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
}

.classified-author-profile-info .classified-author-avatar img {
    width: 83px;
    height: 85px;
    border-radius: 55px;
}

.classified-author-profile-info .classified-author-name {
    color: var(--grid-text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 0 5px;
    text-align: center;
}

.classified-author-profile-info .classified-author-name i {
    font-size: 14px;
    margin: 3px 0 0 5px;
    color: var(--primary-color);
    position: relative;
    top: -1px;
}

.classified-author-profile-info .classified-author-rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
}

.classified-author-profile-info .classified-author-rating-stars i {
    font-size: 14px;
    margin: 0 3px;
    color: var(--golden-700);
}

.classified-author-profile-info .classified-author-rating-stars i.fa-regular:not(.fa-star-half-stroke) {
    font-weight: 900;
    color: #C9C9C9;
}

.classified-author-profile-info .classified-author-profile-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 14px 0;
}

.classified-author-profile-info .classified-author-profile-actions .classified-author-profile-action {
    margin: 0 6px;
}

.classified-author-profile-info .classified-author-profile-actions .classified-author-profile-action svg {
    width: 20px;
    height: 20px;
}

.classified-author-profile-info .classified-author-profile-actions .classified-author-share-profile svg {
    color: var(--primary-color);
}

.classified-author-profile-info .classified-author-profile-actions .classified-author-report-profile svg {
    color: var(--grid-text-color);
}

.classified-author-profile-info .classified-author-edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #7D869F;
    cursor: pointer;
    margin: 0 0 14px 0;
}

.classified-author-profile-info .classified-author-edit-profile i {
    margin: 0 5px 0 0;
    color: inherit;
    font-size: 12px;
}

.classified-author-profile-info .classified-author-stats {
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
    padding: 15px 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.classified-author-profile-info .classified-author-stats i {
    font-size: 25px;
    color: var(--primary-color);
    margin: 0 13px 0 0;
}

.classified-author-profile-info .classified-author-stats .classified-author-stat:not(:last-child) {
    margin: 0 13px 0 0;
    padding: 0 13px 0 0;
    border-right: 1px solid var(--primary-border-color);
}

.classified-author-profile-info .classified-author-stats .classified-author-stat h6 {
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
    color: var(--grid-text-color);
    margin: 0 0 0 0;
}

.classified-author-profile-info .classified-author-stats .classified-author-stat p {
    font-size: 14px;
    line-height: 20px;
    color: var(--grid-text-color);
    margin: 0 0 0 0;
}

.classified-author-profile-info .classified-author-linked-platforms {
    border-bottom: 1px solid var(--primary-border-color);
    margin: 0 0 15px 0;
    padding: 0 0 5px 0;
}

.classified-author-profile-info .classified-author-linked-platforms h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--grid-text-color);
    margin: 0 0 15px 0;
}

.classified-author-profile-info .classified-author-linked-platforms .classified-author-linked-platform {
    font-size: 14px;
    line-height: 20px;
    color: var(--grid-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px 0;
}

.classified-author-profile-info .classified-author-linked-platforms .classified-author-linked-platform .classified-author-linked-platform-icon {
    margin: 0 8px 0 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.classified-author-profile-info .classified-author-linked-platforms .classified-author-linked-platform .classified-author-linked-platform-status {
    margin: 0 0 0 auto;
    font-size: 14px;
    color: var(--primary-border-color);
}

.classified-author-profile-info .classified-author-linked-platforms .classified-author-linked-platform .classified-author-linked-platform-status.classified-status-verified {
    color: var(--green-700);
}

.classified-author-profile-info .classified-author-member-since {
    font-size: 13px;
    line-height: 18px;
    color: #7D869F;
    margin: 0 0 0 0;
}

.classified-author-profile .classified-author-container {
    padding: 40px 20px;
}

.classified-author-container .classified-author-items h4,
.classified-frontend-form-container .cwp-frontend-section-heading-container h2
{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--grid-text-color);
    margin: 0 0 17px 0;
}

.classified-author-tabs-container .classified-author-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    margin: 0 0 -30px 0;
}

.classified-author-tabs-container .classified-author-tabs .nav-link {
    background: #FFFFFF;
    border: 1px solid #E0E1E2;
    border-radius: 0;
    color: #7D869F;
    font-size: 14px;
    line-height: 34px;
    font-weight: normal;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classified-author-tabs-container .classified-author-tabs .nav-link i {
    font-size: 18px;
    padding: 5px;
}

.classified-author-tabs-container .classified-author-tabs .nav-link i,
.classified-author-tabs-container .classified-author-tabs .nav-link svg
{
    margin: 0 5px 0 0;
    color: #7D869F;
}

.classified-author-tabs-container .classified-author-tabs .nav-link.active {
    background: #E0E1E2;
    color: var(--heading-color);
}

.classified-author-tabs-container .classified-author-tabs .nav-link.active i,
.classified-author-tabs-container .classified-author-tabs .nav-link.active svg
{
    color: var(--heading-color);
}

.classified-author-tabs-container .classified-author-tabs .nav-item:first-of-type .nav-link {
    border-radius: 4px 0 0 4px;
}

.classified-author-tabs-container .classified-author-tabs .nav-item:last-of-type .nav-link {
    border-radius: 0 4px 4px 0;
}






































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































